<h1>Report</h1>
<br />

<h3>Click count based on url visited</h3>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Short URL</th>
            <th>Last visited</th>
            <th>Clink counts</th>
        </tr>
    </thead>
    <tbody>
        <% current_short_url = nil %>
        <% @click_counts.each do |item| %>
            <tr>
                </td>
                <td><%= "#{root_url}#{item.short_url}"  %></td>
                <td><%= item.last_visit %></td>
                <td><%= item.total_clicks %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br />

<h3>Url aggregated by timestamp and geolocation</h3>
<table class="table table-striped table-bordered table-hover">
<thead class="thead-dark">
    <tr>
        <th>Short URL</th>
        <th>Geolocation</th>
        <th>Timestamp</th>
    </tr>
</thead>
<tbody>
    <% current_short_url = nil %>
    <% @reports.each do |report| %>
        <tr>
            </td>
            <td><%= "#{root_url}#{report.short_url}"  %></td>
            <td><%= report.geolocation %></td>
            <td><%= report.timestamp %></td>
        </tr>
    <% end %>
</tbody>
</table>
